extends layout

block content
 div#zip
  h1 Find My Friends
  input#search(type='text', placeholder='Enter a ZipCode' autofocus)
  p#loader
  h2#results
  h2#addressResults
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascripts/main.js')
