extends layout

block content
 div#zip
  h1 Find My Friends
  input#search(type='number', placeholder='Enter a ZipCode' autofocus)
  h2#results
  
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascripts/main.js')
