extends layout

block content
  h1 Find Friends
  p#loader
  div#zip
    input#search(type='number', placeholder='Search for a ZipCode' autofocus)
    h2#results
  div#adr
    input#addSearch(type='text', placeholder='Search for an Address')
    h2#addResults
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascripts/main.js')
