extends layout

block content
  h1 Find My Friends
  p#loader
  div#content
    input#search(type='text' placeholder='Search First Name Last Name' autofocus)
    h3#results
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascripts/main.js')
